.hdody {
    min-height: 100vh;
}
.data-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.day-and-time {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 28px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;
}
.values-table {
    display: flex;
    flex-direction: row;
}
.left-values {
    background-color: white;
    padding: 10px;
    margin-right: 12px;
    max-width:350px;
}
.text-style {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.h-text-style {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.right-values {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}