<!DOCTYPE html>
<html>
<head>
    <title>Blood Circulation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/images/heart.png" rel="shortcut icon" th:href="@{/images/heart.png}">
    <link href="/css/calc_main.css" rel="stylesheet" th:href="@{/css/calc_main.css}">
    <link href="/css/bottomTab.css" rel="stylesheet" th:href="@{/css/bottomTab.css}">
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="/css/topTab.css" th:href="@{/css/topTab.css}">
</head>
<body class="body-style hbody">

    <div th:insert="~{html/topTab :: topTab}"></div>

    <div class="discription">
        <h1 class="disc-text">
            Сервис предназначен для оценки кровообращения человека.
            Предлагаемые рекомендации носят ознакомительный характер и требуют согласования  со специалистом.
        </h1>
    </div>
    <div class="text-borders">
        <div class="intro">
            <h1 class="home-title">Для чего нужен сервис:</h1>
            <h1 class="home-text">В клинической медицине на приеме у врача в поликлинике или при посещении врачом пациента в стационаре общепринято проводить оценку кровообращения путем измерения артериального давления.</h1>
            <h1 class="home-text">Соответствующими норме считаются значения систолического давления до уровня 140 мм. рт. ст. и диастолического артериального давления до 90 мм. рт. ст. Давление измеряется на плечевой артерии, систолическое давление прямо зависит от того, что называют ударным объемом сердца, объемом крови, выбрасываемым левым желудочком сердца с каждым его сокращением, и давлением, производимым им на стенку сосуда.</h1>
            <h1 class="home-text">Диастолическое давление прямо зависит от давления на стенку плечевой артерии в диастолу и, таким образом, косвенно отражает состояние миокарда в момент расслабления, в момент, когда миокард получает свою порцию крови. Показатели артериального давления однозначно важны для прогнозирования сердечно-сосудистых катастроф, инсульта или инфаркта.</h1>
            <h1 class="home-text">Однако, несмотря на имеющийся клинический опыт и полученные, благодаря исследованиям статистические закономерности, свидетельствующие об этом, ограничение показателями артериального давления и частотой сердечных сокращений в оценке ситуации не позволяет оценить кровообращение в организме целом и предположить, в каком состоянии находится кровоснабжение  органов, в том числе, регулирующих системное артериальное давление - мозг, почки, сердце, легкие и т.д. Кроме того, адекватное лечение гипертензии должно опираться  на полноту знания о реальном состоянии кровообращения. </h1>
        </div>
        <div class="goal">
            <h1 class="home-title">Почему нужен сервис:</h1>
            <h1 class="home-text">Программа "Кровообращение" предоставляет возможность оценки гемодинамики во всей полноте характеризующих ее параметров. Целью являлось получение оптимально полной информации о параметрах кровообращения после однократного измерения артериального давления и частоты сердечных сокращений.</h1>
            <h1 class="home-text">В формате вводимых величин необходимо ввести значения систолического давления, диастолического давления, частоты сердечных сокращений, веса, возраста, роста, пола и данные о факте приема лекарственных препаратов, снижающих артериальное давление.</h1>
            <h1 class="home-text">Программа рассчитывает пульсовое давление, систолический объем, минутный объем крови (МОК), процент МОК по отношению к должному по массе тела, индекс массы тела, объем циркулирующей крови, должный объем циркулирующей крови в связи с массой тела и ростом, отклонение объема циркулирующей крови.</h1>
            <h1 class="home-text">Результатом анализа получаемых данных является вывод о состоянии кровообращения и рекомендации принимаемых решений.</h1>
            <div class="sources">
                <div class="sources-content">
                    <h1 class="source-title">Источники</h1>
                    <h1 class="author-name">Макаров, Вячеслав Александрович</h1>
                    <a href="https://search.rsl.ru/ru/record/01000727369" class="glink">
                        <h1 class="author-theme">Физиология : Основные законы, формулы, уравнения : Учеб. пособие для студентов мед. вузов / В. А. Макаров. - Москва : ГЭОТАР-Мед, 2001. - 105, [1] с. : ил., табл.; 21 см.; ISBN 5-9231-0104-1</h1>
                    </a>
                    <h1 class="author-name">Пестряев Владимир Анатольевич</h1>
                    <a href="https://rusneb.ru/catalog/000224_000128_0002535914_20141220_C1_RU/" class="glink">
                        <h1 class="author-theme">СПОСОБ ОПРЕДЕЛЕНИЯ ГИПО-НОРМО-ГИПЕРВОЛЕМИИ СОСУДИСТОГО РУСЛА ЧЕЛОВЕКА В ПОКОЕ</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{html/bottomTab :: bottomTab}"></div>

    <script>document.querySelector("#m1").style.borderBottom = "1px solid gray"</script>
</body>