<!DOCTYPE html>
<html>
    <head>
        <title>Blood Circulation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/images/heart.png" rel="shortcut icon" th:href="@{/images/heart.png}">
        <link href="/css/calc_main.css" rel="stylesheet" th:href="@{/css/calc_main.css}">
        <link href="/css/calc_data.css" rel="stylesheet" th:href="@{/css/calc_data.css}">
        <link href="/css/bottomTab.css" rel="stylesheet" th:href="@{/css/bottomTab.css}">
        <link rel="stylesheet" href="/css/topTab.css" th:href="@{/css/topTab.css}">
        <link rel="stylesheet" href="/css/sign.css" th:href="@{/css/sign.css}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    </head>
    <body class="body-style sing-body">
        <div class="reg-name">Blood Circulation</div>
        <div class="reg-area">
            <div class="reg-area-container">
                <form>
                    <table class="inp-table no-marg">
                        <tbody>
                        <tr>
                            <td>
                                <h1 class="auth-title">Регистрация</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="name" class="one-inp" type="text" placeholder="Имя" autocomplete="off" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-padding-up-down">
                                <input id="email" class="one-inp" type="email" placeholder="Электронный адрес" name="email">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="password" class="one-inp" type="password" placeholder="Пароль" autocomplete="off" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-padding-up-down">
                                <input id="confirmpass" class="one-inp" type="password" placeholder="Повторите пароль" autocomplete="off" name="confirmpass">
                            </td>
                        </tr>
                        <tr>
                            <td id="error" class="error-div">
                                <h1 id="reg-error" class="error-message"></h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="submit" type="button" class="enter-inp enter-padding" onclick="regBut()">Зарегистрироваться</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="noyet">
                                <label class="ent-reg">Уже есть аккаунт? <a class="ent-reg link" href="/login">Войти</a></label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <label class="back-to-home-div">
            <img class="back-to-home-ico" src="/images/back-arrow.png">
            <a class="back-to-home" href="/">Вернуться на главную страницу</a>
        </label>

        <div th:insert="~{/html/bottomTab :: bottomTab}"></div>

        <script type="text/javascript" th:src="@{/js/registration.js}"></script>
    </body>
</html>
